@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #202731;
    color: aliceblue;
    overflow-x: hidden;
}

header {
    background: url(img/leftWaves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header h1:nth-child(1) {
    margin-left: 40vw;
    margin-top: 4rem;
}

header h1:nth-child(2) {
    margin-left: 40vw;
    font-size: 80px;
}

@media (max-width:554px) {
    header h1:nth-child(1) {
        font-size: 10vw;
    }

    header h1:nth-child(2) {
        font-size: 15vw;
    }
}

.fade {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.hero {

    background: url(img/leftWaves.svg);
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.hero-content {
    transform: scaleY(-1);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
     margin-left:45%;
}
footer{
    border-top: 3px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/footerwaves.svg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

footer img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    border-bottom: 2px solid white;
}
footer ul{

    list-style: none;
    position: absolute;
}